/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  /*===== Colores =====*/
  --first-color: #f80000;
  --first-color-dark: #23004D;
  --first-color-light: #A49EAC;
  --first-color-lighten: #F2F2F2;

  /*===== Font and typography =====*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
}

@media screen and (min-width: 768px){
  :root{
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  /* margin: 0;
  padding: 0; */
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--first-color-dark);
  scrollbar-color: blue;
  justify-content: center;
  background-color: black;
}

h1{
  margin: 0;
}

a{
  text-decoration: none;
}

/*===== box =====*/
.box{
  /* display: grid; */
  /* grid-template-columns: 100%; */
  justify-content: center;
  height: 100vh;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.box__content{
  display: grid;
}


.box__forms{
  justify-content: center;
  /* position: relative; */
  height: 368px;
}


.box__forms{
  border: none;
  /* position: absolute; */
  /* bottom: 1rem; */
  /* margin-left: -200%;
  margin-right: 100%; */
  width: 100%;
  height: 95%;
  background-color: var(--first-color-lighten);
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center; 
  box-shadow: 0 8px 20px rgba(35,0,77,.2);
  animation-duration: .4s;
  animation-name: animate-box;
  justify-self: right;
}

@keyframes animate-box{
  0%{
    transform: scale(1,1);
  }
  50%{
    transform: scale(1.1,1.1);
  }
  100%{
    transform: scale(1,1);
  }
}

.box__title{
  font-size: var(--h1-font-size);
  margin-bottom: 2rem;
}

.box__box{
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: .5rem;
  padding: 1.125rem 1rem;
  background-color: #FFF;
  margin-top: 1rem;
  border-radius: .5rem;
}

.box__icon{
  font-size: 1.5rem;
  color: var(--first-color);
}

.box__input{
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  font-weight: 700;
  color: var(--first-color-dark);
}

.box__input::placeholder{
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color: var(--first-color-light);
}

.box__forgot{
  display: block;
  width: max-content;
  margin-left: auto;
  margin-top: .5rem;
  font-size: var(--small-font-size);
  font-weight: 600;
  color: var(--first-color-light);
}

.box__button{
  display: block;
  padding: 1rem;
  margin: 2rem 0;
  background-color: var(--first-color);
  color: #FFF;
  font-weight: 600;
  text-align: center;
  border-radius: .5rem;
  transition: .3s;
}

.box__button:hover{
  /* background-color: var(--first-color-dark); */
  background-color: white;
  color: black;
  border: 2px solid red;
}

.box__account, .box__signin, .box__signup{
  font-weight: 600;
  font-size: var(--small-font-size);
}



/* ===== MEDIA QUERIES =====*/
@media screen and (min-width: 576px){
  .box__forms{
    display: inline-flexbox;
    width: 348px;
    justify-self: center;
  }
}

@media screen and (min-width: 1024px){
  .box{
    justify-content: center;
    height: 100%;
    /* overflow: hidden; */
    
  }

  .box__content{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
  }

  .box__img{
    display: flex;
    width: 600px;
    height: 588px;
    background-color: var(--first-color-lighten);
    border-radius: 1rem;
    padding-left: 1rem;
  }

  .box__img img{
    width: 390px;
    margin-top: 0;
  }
  
}